@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* || VARIABLES */
:root{

    /* BACKGROUND-COLORS */
    --HEADER-BG-COLOR: #e3e6f3;

    /* COLORS */
    --HEADER-COLOR: #222;
    --PARAGRAPH-COLOR: #465b52;
    --NAV-LI-A-COLOR: #1a1a1a;
    --NAV-LI-A-I-COLOR: #1e90ff;
    --NAV-LI-A-HOVER-COLOR: #088178;
    --HERO-H1-COLOR: #088178;
    --FEATURE-BOX-BORDER-COLOR: #cce7d0;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--HEADER-COLOR);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--HEADER-COLOR);
}

h4 {
  font-size: 20px;
  color: var(--HEADER-COLOR);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: var(--PARAGRAPH-COLOR);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 20px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.4s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: all 0.4s;
    margin-top: 10px;
}

body {
  width: 100%;
  position: relative;
}

/* || Header start */
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--HEADER-BG-COLOR);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* styling nav bar */
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    
}
#navbar li {
    padding: 0px 20px;
    position: relative;

}

#navbar li a:any-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--NAV-LI-A-COLOR);
    transition: 0.5s ease;
    
}

#navbar li a:hover,
#navbar li a.active
{
    color: var(--NAV-LI-A-HOVER-COLOR);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--NAV-LI-A-HOVER-COLOR);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a i {
    color: var(--NAV-LI-A-I-COLOR);
}

/* || HERO SECTION */
#hero{
    background: url("../img/hero4.png") no-repeat 25% 0/ cover;
    width: 100%;
    height: 90vh;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: var(--HERO-H1-COLOR);
    
}

#hero button{
    background-image: url("../img/button.png");
    background-color: transparent;
    border: none;
    color: var(--HERO-H1-COLOR);
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

/* || FESTURE SECTION */
#feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid var(--FEATURE-BOX-BORDER-COLOR);
    box-shadow: 20px 20px 34px rgba(0, 0, 0,0.0);
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221,0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

/* || FEATURED PRODUCTS SECTION */
#product1{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

#product1 .pro .desc {
    text-align: start;
    padding: 10px 0px;
}

#product1 .pro .desc span{
    margin-top: 5px;
    display: block;
    color: #606063;
    font-size: 15px;
}

#product1 .pro .desc h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .desc i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

#product1 .pro a i {
    color: var(--NAV-LI-A-I-COLOR);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cddfcf;
    font-weight: 600;
    border: 1px solid #74b87e;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.3s ease;
}
#product1 .pro a i:hover {
    color: var(--NAV-LI-A-HOVER-COLOR);
    background-color: #f5f5f5;
}
#product1 .pro-container{
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/* || BANNER SECTION */
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../img/banner/b2.jpg') no-repeat center center/ cover;
    width: 100%;
    height: 40vh;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 32px;
    padding: 10px 0px;
}
#banner h2 span {
    color: #b22222;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}

/* ||SMALL BANNER */
#sm-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#sm-banner .banner-box{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: url('../img/banner/b17.jpg') no-repeat center center/ cover;
    min-width: 200px;
    margin: 0px 10px;
    height: 50vh;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url('../img/banner/b10.jpg');
}

#sm-banner .banner-box h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#sm-banner .banner-box h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#sm-banner .banner-box span{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
}


#sm-banner .banner-box:hover .white{
    background-color: #088178;
    border: 1px solid #088178;
}

/* || XS-SMALL BANNER */
#banner3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
#banner3 .banner-box{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* min-width: 700px; */
    margin: 0px 10px;
    height: 35vh;
    padding: 30px;
    position: relative;
}

#banner3 .banner-box::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

#banner3 .banner-box h2,
#banner3 .banner-box h3{
    z-index: 1;
    color: #fff;
    font-weight: 1000;
    text-shadow: 2px 2px 10px rgba(255, 255, 0, 0.5);
    padding: 5px 0px;
}
#banner3 .banner-box h2{
    font-size: 20px;
    padding: 0;
    margin: 0;
}
#banner3 .banner-box h3{
    font-size: 15px;
    color: #fff;
    padding: 0;
    margin: 0;
}

#banner3 .banner-box-b1{
    background: url('../img/banner/b7.jpg') no-repeat center center/ cover;
    z-index: -2;
}
#banner3 .banner-box-b2{
    background: url('../img/banner/b4.jpg') no-repeat center center/ cover;
    z-index: -2;
}
#banner3 .banner-box-b3{
    background: url('../img/banner/b18.jpg') no-repeat center center/ cover;
    z-index: -2;
}

/* || NEWS LETTER SECTION */

#newsletter{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #041e42;
    background-image: url('../img/banner/b14.png');
    background-position: 20% 30%;
    
}

#newsletter .news-txt h4{
    font-family: monospace;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

#newsletter .news-txt p{
    font-family: monospace;
    color: #818ea0;
    font-size: 15px;
    font-weight: 600;
}

#newsletter .news-txt p span{
    font-size: 15px;
    color: rgb(243, 181, 25);
}

#newsletter .form-container{
    width: 40%;
}

#newsletter .real-form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#newsletter .form-container input{
    border: none;
    font-family: monospace;
    font-size: 15px;
    padding: 0px 10px;
    height: 3rem;
    flex: 1;
    outline: none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#newsletter .form-container button{
    white-space: nowrap;
    background-color: #088178;
    color: #fff;
    border: 1px solid #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 3rem;
}

#newsletter .form-container button:hover{
    background-color: #1450aa;
}

/* || FOOTER SECTION */
#footer-section{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}


#footer-section .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#footer-section .col p.p-under-logo{
    margin-bottom: 15px;
    padding: 0;
}

#footer-section .logo{
    margin-bottom: 30px;
}

#footer-section h4{
    font-size: 14px;
    padding-bottom: 20px;
}

#footer-section p{
    font-size: 13px;
    margin: 0 0 8px 0;
    padding-bottom: 20px;
}

#footer-section a {
    font-size: 13px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    font-weight: 400;
}
#footer-section a:hover {
    text-decoration: underline;
}

#footer-section .icons i{
    padding: 5px 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #1e90ff;
}

#footer-section .follow h4{
    margin-bottom: 5px;
    padding: 0;
}

#footer-section .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

#footer-section .install img{
    margin: 5px 0 15px 0;
}

#footer-section .install p{
    padding-bottom: 0px;
    margin-bottom: 5px;
}


/* || FOOTER  OF THE PAGE*/
#footOfPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: sticky;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    background-color: whitesmoke;
    box-shadow: 0px -4px 5px -4px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#footOfPage p.foot {
    font-weight: 500;
    line-height: 0px;
    margin: 0;
    padding: 10px;
    font-size: 10px;
    
}



/* || BACK TO TOP BTN STYLES */
.back-top-icon{
    width: 40px;
    height: 40px;
    padding: 0px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-image: radial-gradient(whitesmoke,#088178);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}


.back-top-icon a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}
.back-top-icon #back-top{
    width: 100%;
    height: 100%;
    color: #088178;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    animation: backToTopBtn 0.8s ease 0s 1000000 normal forwards;
}

@keyframes  backToTopBtn{
    0%{
        transform: scale(0.8);
    }
    88%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

/* || END OF BACK TO TOP BTN STYLES */